@use "sass:math"
// Tokens
@use "abstracts"

$avatar-width: 337
$avatar-height: 161
$avatar-size: 130
$avatar-offset-x: 2
$avatar-offset-y: 16

$employee-img-size: 40

.employee
	display: flex
	align-items: center
	padding: 12px 16px
	background: abstracts.$color-chill-white
	border-radius: 8px
	border: 1px solid rgba(abstracts.$color-badass-black, 0.05)
	transition: all 250ms ease-in-out

	&__img
		margin-right: 16px
		width: $employee-img-size * 1px
		height: $employee-img-size * 1px
		overflow: hidden

		img
			position: relative
			top: math.div($employee-img-size * $avatar-offset-y, $avatar-size) * -1px
			left: math.div($employee-img-size * $avatar-offset-x, $avatar-size) * -1px
			width: math.div($employee-img-size * $avatar-width, $avatar-size) * 1px
			height: auto

	&__name
		font-size: 16px
		color: abstracts.$color-badass-black
		letter-spacing: 0

	&__role
		font-size: 14px
		color: rgba(abstracts.$color-badass-black, 0.5)
		letter-spacing: 0

	@media (width >= abstracts.$breakpoint-lg)
		box-shadow: none

		&:hover
			box-shadow: 0 10px 60px rgba(abstracts.$color-badass-black, 0.2)
			transform: translate(5px, 5px)
