@use "abstracts"

.module-links
	&__column
		margin-bottom: 40px

	@media (width >= abstracts.$breakpoint-lg)
		&__row
			display: flex
			justify-content: space-between
			gap: 48px
			justify-content: normal

		&__column
			margin-bottom: 0

