@use "abstracts"

.module-links
	&__column
		margin-bottom: 40px

	.icon-emoji-satisfied, .icon-emoji-sad
		margin-left: 10px

	@media (width >= abstracts.$breakpoint-lg)
		&__row
			display: flex
			justify-content: space-between
			gap: 60px
			justify-content: normal
			flex-wrap: wrap

		&__column
			margin-bottom: 0

		.icon-emoji-satisfied, .icon-emoji-sad
			margin: 30px auto 0px

