-
	let titlePage = 'WYcreative - Design Guide';

block variables

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		title= titlePage
		block styles
			link(href="/styles/main.css" rel="stylesheet")
		block scripts-head

	body
		block overview

	block scripts
		script(src="/scripts/main.js")
