section.sidebar
	a(href="")
		img.sidebar__logo(src="", alt="Logo Client")
	label.sidebar__search(for="search")
		input.sidebar__search-input(type="text" placeholder="Search")
	nav
		ul.sidebar__menu
			li.sidebar__list-item
				a.sidebar_page-name(href="#") Overview
			li.sidebar__list-item
				span.sidebar_page-name Tokens
					a(href="")
						i.icon-arrow arrow
				ul.sidebar__submenu
					li
						a(href="") Colors
					li
						a(href="") Sizes
					li
						a(href="") Typography
					li
						a(href="") Icons
			li.sidebar__list-item
				span.sidebar_page-name Components
					a(href="")
						i.icon-arrow arrow
				ul.sidebar__submenu
					li
						a(href="") Button
					li
						a(href="") Card
			li.sidebar__list-item
				span.sidebar_page-name Modules
					a(href="")
						i.icon-arrow arrow
				ul.sidebar__submenu
					li
						a(href="") Team
			li.sidebar__list-item
				span.sidebar_page-name Templates
					a(href="")
						i.icon-arrow arrow
				ul.sidebar__submenu
					li
						a(href="") Homepage
