extends ../_layout/base
include ../_abstracts/mixins/symbol
include ../_components/link-copy

block variables
	- titlePage = 'Modules'

block append styles
	link(href="/styles/modules.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1 < Project Name >
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Modules
			.rte
				p List of all developed modules.
				p These modules must be used independently of the template in which they are inserted.

	section.module.module-table
		.container
			table
				thead
					tr
						th.heading-4.module-table__column-preview(align="center") Preview
						th.heading-4(align="center") Name
						th.heading-4(align="center") AC
						th.heading-4(align="center") State
				tbody
					-
						var state, emoji
						state ? emoji= 'icon-emoji-satisfied' : 'icon-emoji-sad'

						emoji= 'icon-emoji-satisfied'
					tr
						td.module-table__column-preview(align="center")
							picture
								img(src="../../assets/images/ph-employee.jpg" width="100" height="50")
						td.module-table__column-link(align="center")
							a(href="#" target="_blank") module-team
						td.module-table__column-ac(align="center")
							+link-copy("#", "Link")
						td.module-table__column-state(align="center")
							span.icon(class=emoji)
								+symbol(emoji)
					tr
						td.module-table__column-preview(align="center")
							picture
								img(src="../../assets/images/ph-employee.jpg" width="100" height="50")
						td.module-table__column-link(align="center")
							a(href="#" target="_blank") module-links
						td.module-table__column-ac(align="center")
							+link-copy("#", "Link")
						td.module-table__column-state(align="center")
							span.icon(class=emoji)
								+symbol(emoji)
