extends ../_layout/base
include ../_components/link-copy

block variables
	- const module = data.modules.list.find(({id}) => id === current)
	- titlePage = module.name
	- isFull = true

block main
	section.module.module-title-text.module--half
		.container
			h1.heading-1= 'module-' + module.id
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				= module.name
			.rte
				p= module.description

	section.module.module-links.module--half
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/blue.svg" width="24" height="24")
				| Info
			.module-links__row
				.module-links__column
					h4.heading-4 Design
					if module.url
						if module.url.design
							+link-copy(module.url.design, "Figma")
						if module.url.prototype
							if module.url.prototype.desktop
								+link-copy(module.url.prototype.desktop, "Invision Desktop")
							if module.url.prototype.mobile
								+link-copy(module.url.prototype.mobile, "Invision Mobile")
						if module.url.task
							+link-copy(module.url.task, "AC")
				.module-links__column
					h4.heading-4 Status
						case module.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'
					span.icon(class=emoji)
						+symbol(emoji)
						= module.status
				.module-links__column
					h4.heading-4 External Link
					+link-copy(data.modules.path+module.id, "External")

	section.module.module-detail-info.module--half
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/orange.svg" width="24" height="24")
				| Components
			h3.heading-3
				img(src="../../assets/images/shapes/purple.svg" width="24" height="24")
				| Code
			h3.heading-3
				img(src="../../assets/images/shapes/yellow.svg" width="24" height="24")
				| Data
			h3.heading-3
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Additional Notes

	section.module.module-iframe.module--half
		.container
			iframe(width='800', height='1000', src=data.modules.path+module.id)
