extends ../_layout/base
include ../_abstracts/mixins/symbol
include ../_components/link-copy

block variables
	- titlePage = 'Modules'

block append styles
	link(href="/atlas/styles/modules.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1= data.name
			h2.heading-2
				img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
				| Modules
			.rte
				p List of all developed modules.
				p These modules must be used independently of the template in which they are inserted.

	section.module.module-table
		.container
			table
				thead
					tr
						th.heading-4.module-table__column-preview(align="center") Preview
						th.heading-4(align="center") Name
						th.heading-4(align="center") Task
						th.heading-4(align="center") Components
						th.heading-4(align="center") Status
				tbody
					- let emoji

					each item in data.modules.list
						case item.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'

						tr
							td.module-table__column-preview(align="center")
								picture
									img(src="/atlas/assets/images/ph-employee.jpg" width="100" height="50")
							td.module-table__column-link(align="center")
								a(href=`/atlas/modules/${item.id}.html`)= item.name
							td.module-table__column-ac(align="center")
								if item.url && item.url.task
									+link-copy(item.url.task, "Link")
								else
									em None
							td.module-table__column-links-modules(align="center")
								if item.components
									each component in item.components
										a(href=`/atlas/components/${component}.html`)= component
								else
									em None
							td.module-table__column-state(align="center")
								span.icon(class=emoji)
									+symbol(emoji)
