extends ../_layout/base
include ../_modules/team
include ../_modules/links
include ../_modules/technology
include ../_modules/dependencies
include ../_modules/timeline
include ../_abstracts/mixins/symbol

block variables
	- titlePage = 'Overview'

block append styles
	link(href="/styles/overview.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1= data.name
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Overview
			.rte
				p= data.description

	+links

	+team

	+technology(true)

	+dependencies(true)

	+timeline
