extends ../_layout/base
include ../_modules/team
include ../_modules/links
include ../_modules/technology
include ../_abstracts/mixins/symbol

block variables
	- titlePage = 'Overview'

block append styles
	link(href="/design-guide/styles/overview.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1= data.name
			h2.heading-2
				img(src="/design-guide/assets/images/shapes/green.svg" width="24" height="24")
				| Overview

			if data.description
				.rte!= markdown(data.description)

	+links

	+team

	+technology
