extends ../_layout/base
include ../_components/link-copy

block variables
	- titlePage = 'Template Example'
	- isFull = true

block append styles
	link(href="/styles/template-example.css" rel="stylesheet")

block main
	section.module.module-title-text.module--half
		.container
			h1.heading-1= 'template-' + data.templates.list[0].id
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				= data.templates.list[0].name
			.rte
				p= data.templates.list[0].description

	section.module.module-links.module--half
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/blue.svg" width="24" height="24")
				| Info
			.module-links__row
				.module-links__column
					h4.heading-4 Design
					+link-copy(data.templates.list[0].url.design, "Figma")
					+link-copy(data.templates.list[0].url.prototype.desktop, "Invision Desktop")
					+link-copy(data.templates.list[0].url.prototype.mobile, "Invision Mobile")
					+link-copy(data.templates.list[0].url.task, "AC")
				.module-links__column
					h4.heading-4 Status
						case data.templates.list[0].status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'
					span.icon(class=emoji)
						+symbol(emoji)
						= data.templates.list[0].status
				.module-links__column
					h4.heading-4 External Link
					+link-copy(data.templates.path+data.templates.list[0].id, "External")

	section.module.module-detail-info.module--half
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/orange.svg" width="24" height="24")
				| Components
			h3.heading-3
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Additional Notes

	section.module.module-iframe
		.container
			iframe(width='800', height='1000', src=data.templates.path+data.templates.list[0].id)
