extends ../_layout/base
include ../_abstracts/mixins/symbol
include ../_components/link-copy

block variables
	- titlePage = 'Templates'

block append styles
	link(href="/atlas/styles/templates.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1= data.name
			h2.heading-2
				img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
				| Templates
			.rte
				p List of all the templates developed for the project.

	section.module.module-table
		.container
			table
				thead
					tr
						th.heading-4 Name
						th.heading-4(align="center") Task
						th.heading-4(align="center") Modules
						th.heading-4(align="center") Status
				tbody
					each template in data.templates.list
						case template.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'

						tr
							td.module-table__column-link
								a(href=`/atlas/templates/${template.id}.html`)= template.name
							td.module-table__column-ac(align="center")
								if template.url && template.url.task
									+link-copy(template.url.task, "Link")
								else
									em None
							td.module-table__column-links-modules(align="center")
								if template.modules
									each item in template.modules
										a(href=`/atlas/modules/${item}.html`)= item
								else
									em None
							td.module-table__column-state(align="center")
								span.icon(class=emoji)
									+symbol(emoji)
