extends ../_layout/base
include ../_abstracts/mixins/symbol
include ../_components/link-copy

block variables
	- titlePage = 'Templates'

block append styles
	link(href="/styles/templates.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1 < Project Name >
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Templates
			.rte
				p List of all the templates developed for the project

	section.module.module-table
		.container
			table
				thead
					tr
						th.heading-4 Name
						th.heading-4(align="center") AC
						th.heading-4(align="center") Modules
						th.heading-4(align="center") State
				tbody
					-
						var state, emoji
						state ? emoji= 'icon-emoji-satisfied' : 'icon-emoji-sad'

						emoji= 'icon-emoji-satisfied'
					tr
						td.module-table__column-link
							a(href="#" target="_blank") Homepage
						td.module-table__column-ac(align="center")
							+link-copy("#", "Link")
						td.module-table__column-links-modules(align="center")
							a(href="#" target="_blank") module-team
							a(href="#" target="_blank") module-team
							a(href="#" target="_blank") module-team
						td.module-table__column-state(align="center")
							span.icon(class=emoji)
								+symbol(emoji)
					tr
						td.module-table__column-link
							a(href="#" target="_blank") Contacts
						td.module-table__column-ac(align="center")
							+link-copy("#", "Link")
						td.module-table__column-links-modules(align="center")
							a(href="#" target="_blank") module-team
							a(href="#" target="_blank") module-team
							a(href="#" target="_blank") module-team
						td.module-table__column-state(align="center")
							span.icon(class=emoji)
								+symbol(emoji)
