mixin employee(name, surname, role, email)
	a.employee(href="MSTeams:/l/chat/0/0?users="+email)
		picture.employee__img
			img(src="https://wycreative.com/wycreative-assinaturas/team/"+name+"%20"+surname+".jpg" width="337" height="161")
		.employee__info
			.employee__name= name + ' ' + surname
			.employee__role= role
