include ../components/_employee

section.module.module-team
	-
		const teamManagement = [
			{
				name:'Constança Ribeiro',
				role:'Project Management'
			},
			{
				name:'Artur Rocha',
				role:'Account Management',
			}
		]

		const teamDesign = [
			{
				name:'Filipe Gaspar',
				role:'Design'
			}
		]

		const teamDevelopment = [
			{
				name:'Abel Silva',
				role:'Senior FE'
			},
			{
				name:'Oscar Marcelo',
				role:'Senior FE'
			},
			{
				name:'Ricardo Graça',
				role:'Senior FE'
			},
			{
				name:'Hugo Coutinho',
				role:'FE'
			},
			{
				name:'Madalena Santos',
				role:'FE'
			},
			{
				name:'Marcelo Santos',
				role:'FE'
			},
			{
				name:'Diogo Oliveira',
				role:'FE'
			}
		]

	.module-team__management
		each member in teamManagement
			+employee(member.name, member.role)

	.module-team__design
		each member in teamDesign
			+employee(member.name, member.role)

	.module-team__development
		each member in teamDevelopment
			+employee(member.name, member.role)
