include ../components/employee

section.module.module-team
	-
		const teamManagement = [
			{
				name:'Constança Ribeiro',
				role:'Project Management'
			},
			{
				name:'Artur Rocha',
				role:'Account Management',
			}
		]

		const teamDesign = [
			{
				name:'Filipe Gaspar',
				role:'Design'
			}
		]

		const teamDevelopment = [
			{
				name:'Rui Rosa',
				role:'CTO'
			},
			{
				name:'Abel Silva',
				role:'FE'
			},
			{
				name:'Oscar Marcelo',
				role:'FE'
			},
			{
				name:'Ricardo Graça',
				role:'FE'
			},
			{
				name:'Hugo Coutinho',
				role:'FE'
			},
			{
				name:'Madalena Santos',
				role:'FE'
			},
			{
				name:'Marcelo Santos',
				role:'FE'
			},
			{
				name:'Diogo Oliveira',
				role:'FE'
			},
			{
				name:'Carlos Pacheco',
				role:'BE'
			},
			{
				name:'Ricardo Santos',
				role:'BE'
			},
			{
				name:'Nilson Martins',
				role:'BE'
			},
			{
				name:'Fábio Ferreira',
				role:'BE'
			},
			{
				name:'Pedro Rodrigues',
				role:'BE'
			},
			{
				name:'João Pacheco',
				role:'BE'
			}
		]

	.container
		h2.module-team__heading2 Team
		.module-team__wrapper
			.module-team__management
				h3.module-team__heading-3 Management
				.module-team__wrapper-employee
					each member in teamManagement
						+employee(member.name, member.role)

			.module-team__design
				h3.module-team__heading-3 Design
				.module-team__wrapper-employee
					each member in teamDesign
						+employee(member.name, member.role)

			.module-team__development
				h3.module-team__heading-3 Development
				.module-team__wrapper-employee
					each member in teamDevelopment
						+employee(member.name, member.role)
