include ../_abstracts/index
include ../_layout/sidebar

-
	let titlePage = '';

block variables

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		title= `${titlePage}${titlePage.length > 0 ? ' | ' : ''}${data.name} | WYcreative - Design Guide`
		block styles
			link(href="/design-guide/assets/styles/main.css" rel="stylesheet")
		block scripts-head

	body
		+sidebar
		main(class= isFull ? 'main-full' : '')
			block main

	block scripts
		script(src="/design-guide/assets/scripts/main.js" type="module")
