mixin dependencies(ishalf)
	section.module.module-dependencies(class=(ishalf ? 'module--half' : null))
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/purple.svg" width="24" height="24")
				| Dependencies
			.module-dependencies__row
				.module-dependencies__column
					each version, name in data.dependencies
						if version.startsWith('^')
							- version = `${version.slice(1)} or later`
						.module-dependencies__wrapper
							img.module-dependencies__shape(src="../../assets/images/shapes/purple.svg" width="12" height="12")
							span.module-dependencies__text= `${name} ${version}`
