include ../_abstracts/mixins/symbol

mixin icons
	section.module.module-icons
		.container
			ul
				li.module-icons__item
					+symbol('icon-chevron')
				li.module-icons__item
					+symbol('icon-chevron')
				li.module-icons__item
					+symbol('icon-chevron')
				li.module-icons__item
					+symbol('icon-chevron')
				li.module-icons__item
					+symbol('icon-chevron')
				li.module-icons__item
					+symbol('icon-chevron')
