include ../_components/link-copy

mixin links(ishalf)
	section.module.module-links(class=(ishalf ? 'module--half' : null))
		.container
			h3.heading-3
				img(src="/atlas/assets/images/shapes/blue.svg" width="24" height="24")
				| Links

			.module-links__row
				.module-links__column
					h4.heading-4 Design

					+link-copy(data.url.design, "Design")
					+link-copy(data.url.designLibrary, "Design Library")
					+link-copy(data.url.prototypeDesktop, "Desktop Prototype")
					+link-copy(data.url.prototypeMobile, "Mobile Prototype")

				.module-links__column
					h4.heading-4 Development

					+link-copy(data.url.repository, "Repository")
					+link-copy(data.url.development, "DEV")
					+link-copy(data.url.stage, "STAGE")
					+link-copy(data.url.production, "PROD")
