include ../_components/link-copy

mixin links(isAlph)
	section.module.module-links(class=(isAlph ? 'module--alph' : null))
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/blue.svg" width="24" height="24")
				| Links
			.module-links__row
				.module-links__column
					h4.heading-4 Design
					+link-copy("#", "TERA")
					+link-copy("#", "Invision Desktop")
					+link-copy("#", "Invision Mobile")
				.module-links__column
					h4.heading-4 Development
					+link-copy("#", "Git")
					+link-copy("#", "DEV")
					+link-copy("#", "STAGE")
					+link-copy("#", "PROD")
