include ../_components/employee

mixin team(ishalf)
	section.module.module-team(class=(ishalf ? 'module--half' : null))
		.container
			h3.heading-3
				img(src="../../assets/images/shapes/orange.svg" width="24" height="24")
				| Team
			.module-team__wrapper
				.module-team__management
					h4.heading-4 Management
					.module-team__wrapper-employee
						each member in data.team.management
							+employee(member.name, member.surname, member.role, member.email)

				.module-team__design
					h4.heading-4 Design
					.module-team__wrapper-employee
						each member in data.team.design
							+employee(member.name, member.surname, member.role, member.email)

				.module-team__development
					h4.heading-4 Development
					.module-team__wrapper-employee
						each member in data.team.development
							+employee(member.name, member.surname, member.role, member.email)
