include ../_components/employee

mixin team(ishalf)
	section.module.module-team(class=(ishalf ? 'module--half' : null))
		.container
			h3.heading-3
				img(src="/design-guide/assets/images/shapes/orange.svg" width="24" height="24")
				| Team

			.module-team__wrapper
				each group in data.team
					.module-team__management
						h4.heading-4= group.name
						.module-team__wrapper-employee
							each member in group.list
								+employee(member.name, member.surname, member.role, member.email)
